<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<ul class="nav nav-tabs" th:fragment="navFragment">
    <li role="presentation"><a href="main">HOME</a></li>
    <li role="presentation"><a href="course_list.php?keyword=all">강의</a></li>
    <li role="presentation"><a href="myinfo.php">내 정보</a></li>
    <li role="presentation"><a href="logout">로그아웃</a></li>
    <li role="presentation"><a href="" readonly="true"> <span th:text="|${user.name}님|"></span></a></li>
    <!--    <li role="presentation" th:text="${user.name}">로그아웃</li>-->
</ul>

</body>
</html>