<!DOCTYPE HTML>
<html xmlns:th="http://www.thymleaf.org">
<head th:replace="~{head.html :: headFragment}">

</head>
<body>
<div class="container">
    <div class="content">

        <div class='course_nav'>
            <ul class='nav nav-pills'>
                <li class='' role='presentation'>
                    <form action='course_list.php' method='get'>
                        <input
                                id='course_search'
                                name='keyword'
                                placeholder='기술 검색'
                                type='text'>
                    </form>
                </li>
                <li role='presentation'><a href='course_list.php?keyword=java'>java</a></li>
                <li role='presentation'><a href='course_list.php?keyword=spring'>spring</a></li>
                <li role='presentation'><a href='course_list.php?keyword=mvc'>mvc</a></li>
                <li role='presentation'><a href='course_list.php?keyword=backend'>backend</a></li>
                <li role='presentation'><a href='course_list.php?keyword=springboot'>springboot</a></li>
                <li role='presentation'><a href='course_list.php?keyword=network'>network</a></li>
                <li role='presentation'><a href='course_list.php?keyword=c'>c</a></li>
                <li role='presentation'><a href='course_list.php?keyword=figma'>figma</a></li>
                <li role='presentation'><a href='course_list.php?keyword=html'>html</a></li>
                <li role='presentation'><a href='course_list.php?keyword=css'>css</a></li>
                <li role='presentation'><a href='course_list.php?keyword=nodejs'>nodejs</a></li>
                <li class='' role='presentation'><a href='course_list.php?keyword=python'>python</a></li>

            </ul>
        </div>
        <table class='table'>
            <thead>
            <tr>
                <th scope='col'>#</th>
                <th scope='col'>강좌명</th>
                <th scope='col'>강사</th>
                <th scope='col'>카테고리</th>
                <th scope='col'>가격</th>
                <th scope='col'>수강</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course, i : ${courses}">
                <th scope='row' th:text="${i.count}">$n</th>
                <td th:text="${course.title}">title</td>
                <td th:text="${course.teacher}">teacher</td>
                <td th:text="${course.category}">category</td>
                <td th:text="${course.price}">price</td>
                <td><a href=enroll.php?CourseID=course_id&&UserID=user_id&&price=$price type='button'>신청</a></td>
            </tr>

            </tbody>


        </table>
    </div>
</div>
</body>
</html>