<!DOCTYPE HTML>
<html xmlns:th="http://www.thymleaf.org">
<head th:replace="~{head.html :: headFragment}">

</head>
<body>
<div class="container">
    <div class="content">
        <div id="main-content" style="margin-top:10vh">
            <form action="" class=" row g-3" method="post" th:object="${user}">
                <div class="col-12">
                    <label class="form-label" for="name">이름</label>
                    <input autocomplete="off" class="form-control" th:errorClass="field-error" th:field="*{name}"
                           type="text">
                    <div class="field-error" th:errors="*{name}">name error</div>
                </div>
                <div class="col-12">
                    <label class="form-label" for="login_id">아이디</label>
                    <input autocomplete="off" class="form-control"
                           readonly th:errorClass="field-error" th:field="*{login_id}" type="text">
                    <div class="field-error" th:errors="*{login_id}">name error</div>

                </div>
                <div class="col-12">
                    <label class="form-label" for="pw">비밀 번호</label>
                    <input autocomplete="off" class="form-control"
                           th:errorClass="field-error" th:field="*{pw}">
                    <div class="field-error" th:errors="*{pw}">name error</div>

                </div>
                <div class="col-12">
                    <label class="form-label" for="email">이메일</label>
                    <input autocomplete="off" class="form-control" th:errorClass="field-error" th:field="*{email}"
                           type="text">
                    <div class="field-error" th:errors="*{email}">name error</div>

                </div>


                <div class="col-12">
                    <label class="form-label" for="address">주소</label>
                    <input autocomplete="off" class="form-control" name="address" placeholder="주소"
                           th:errorClass="field-error" th:value="${user.address}" type="text">
                    <div class="field-error" th:errors="*{address}">name error</div>

                </div>

                <div class="col-12">
                    <button class=" btn btn-primary" style="width:20vw">!수 정!</button>
                </div>
                <div class="col-12">
                    <a class=" btn btn-primary" href="/login" style="width:20vw">뒤로가기</a>
                </div>
            </form>

        </div>
    </div>
</div>

</body>
</html>