<!DOCTYPE HTML>
<html xmlns:th="http://www.thymleaf.org">
<head th:replace="~{head.html :: headFragment}">

</head>
<body>
<div class="container">
    <div class="content">
        <div th:replace="~{nav.html :: navFragment}"></div>
        <div id="main-content" style="margin-top:10vh">
            <form action="" class=" row g-3" method="post">
                <div class="col-12">
                    <label class="form-label" for="name">이름</label>
                    <input autocomplete="off" class="form-control" name="name" required
                           th:value="${user.name}" type="text">
                </div>
                <div class="col-12">
                    <label class="form-label" for="login_id">아이디</label>
                    <input autocomplete="off" class="form-control" name="login_id" readonly
                           required th:value="${user.loginId}" type="text">
                </div>
                <div class="col-12">
                    <label class="form-label" for="pw">비밀 번호</label>
                    <input autocomplete="off" class="form-control" name="pw" readonly
                           required th:value="${user.pw}" type="password">
                </div>
                <div class="col-12">
                    <label class="form-label" for="email">이메일</label>
                    <input autocomplete="off" class="form-control" name="email" required
                           th:value="${user.email}" type="text">
                </div>


                <div class="col-12">
                    <label class="form-label" for="address">주소</label>
                    <input autocomplete="off" class="form-control" name="address" placeholder="주소" required
                           th:value="${user.address}" type="text">
                </div>

                <div class="col-12">
                    <button class=" btn btn-primary" style="width:20vw">!수 정!</button>
                </div>
                <div class="col-12">
                    <a class=" btn btn-primary" href="/login" style="width:20vw">뒤로가기</a>
                </div>
            </form>

        </div>
    </div>
</div>

</body>
</html>