<!DOCTYPE HTML>
<html xmlns:th="http://www.thymleaf.org">
<head th:replace="~{head.html :: headFragment}">

</head>
<body>
<div class="container">
    <div class="content">
        <div id="login-content">
            <h1>Login</h1>
            <form action="" id="login" method="post">
                <div><input autocomplete='off' name="name" placeholder="아이디" required
                            style="width:20vw; margin-bottom:10px ;" type="text"></div>
                <input autocomplete='off' name="pw" placeholder="비밀번호" required
                       style="width:20vw; margin-bottom:10px ;" type="text">
            </form>
            <button class="btn btn-primary" form="login" style="margin-bottom:10px ;width:20vw"
                    type="submit">로그인
            </button>
            <a class=" btn btn-primary" href="/user/new" style="margin-bottom:10px ; width:20vw">회원가입</a>
            <a class=" btn btn-primary" href="/user/list" style=" width:20vw">회원 목록</a>
        </div>
    </div>
</div>

</body>
</html>