<!DOCTYPE HTML>
<html xmlns:th="http://www.thymleaf.org">
<head th:replace="~{head.html :: headFragment}">

</head>
<body>
<div class="container">
    <div class="content">
        <div id="main-content" style="margin-top:10vh">
            <form action="" class=" row g-3" method="post" th:object="${user}">
                <div class="col-12">
                    <label class="form-label" for="name">이름</label>
                    <input autocomplete="off" class="form-control" placeholder="이름" th:errorClass="field-error"
                           th:field="*{name}"
                           type="text">
                    <div class="field-error" th:errors="*{name}">
                        name 오류
                    </div>

                </div>
                <div class="col-12">
                    <label class="form-label" for="login_id">아이디</label>
                    <input autocomplete="off" class="form-control" placeholder="아이디" th:errorClass="field-error"
                           th:field="*{login_id}"
                           type="text">
                    <div class="field-error" th:errors="*{login_id}">
                        login_id 오류
                    </div>
                </div>
                <div class="col-12">
                    <label class="form-label" for="pw">비밀 번호</label>
                    <input autocomplete="off" class="form-control" placeholder="비밀 번호" th:errorClass="field-error"
                           th:field="*{pw}"
                           type="password">
                    <div class="field-error" th:errors="*{pw}">
                        pw 오류
                    </div>
                </div>
                <div class="col-12">
                    <label class="form-label" for="email">이메일</label>
                    <input autocomplete="off" class="form-control" placeholder="이메일" th:errorClass="field-error"
                           th:field="*{email}"
                           type="text">
                    <div class="field-error" th:errors="*{email}">
                        email 오류
                    </div>
                </div>
                <div class="col-12">
                    <label class="form-label" for="age">나이</label>
                    <input autocomplete="off" class="form-control" placeholder="나이" th:errorClass="field-error"
                           th:field="*{age}"
                           type="number">
                    <div class="field-error" th:errors="*{age}">
                        age 오류
                    </div>
                </div>

                <div class="col-12">
                    <label class="form-label" for="address">주소</label>
                    <input autocomplete="off" class="form-control" placeholder="주소" th:errorClass="field-error"
                           th:field="*{address}"
                           type="text">
                    <div class="field-error" th:errors="*{address}">
                        address 오류
                    </div>
                </div>
                <div class="col-12">
                    <button class=" btn btn-primary" style="width:20vw">!등 록!</button>
                </div>
                <div class="col-12">
                    <a class=" btn btn-primary" href="/login" style="width:20vw">뒤로가기</a>
                </div>
            </form>

        </div>
    </div>
</div>

</body>
</html>