<!DOCTYPE HTML>
<html xmlns:th="http://www.thymleaf.org">
<head th:replace="~{head.html :: headFragment}">

</head>
<body>
<div class="container">
    <div class="content">
        <div id="main-content" style="margin-top:10vh">
            <form action="" class=" row g-3" method="post" th:object="${user}">
                <div class="col-12">
                    <label class="form-label" for="name">이름</label>
                    <input autocomplete="off" class="form-control" placeholder="이름" required th:field="*{name}"
                           type="text">
                </div>
                <div class="col-12">
                    <label class="form-label" for="login_id">아이디</label>
                    <input autocomplete="off" class="form-control" placeholder="아이디" required th:field="*{login_id}"
                           type="text">
                </div>
                <div class="col-12">
                    <label class="form-label" for="pw">비밀 번호</label>
                    <input autocomplete="off" class="form-control" placeholder="이메일" required th:field="*{pw}"
                           type="password">
                </div>
                <div class="col-12">
                    <label class="form-label" for="email">이메일</label>
                    <input autocomplete="off" class="form-control" placeholder="이메일" required th:field="*{email}"
                           type="text">
                </div>
                <div class="col-12">
                    <label class="form-label" for="age">나이</label>
                    <input autocomplete="off" class="form-control" placeholder="나이" required th:field="*{age}"
                           type="number">
                </div>

                <div class="col-12">
                    <label class="form-label" for="address">주소</label>
                    <input autocomplete="off" class="form-control" placeholder="주소" required th:field="*{address}"
                           type="text">
                </div>
                <div class="col-12">
                    <button class=" btn btn-primary" style="width:20vw">!등 록!</button>
                </div>
                <div class="col-12">
                    <a class=" btn btn-primary" href="/login" style="width:20vw">뒤로가기</a>
                </div>
            </form>

        </div>
    </div>
</div>

</body>
</html>