<!DOCTYPE HTML>
<html xmlns:th="http://www.thymleaf.org">
<head th:replace="~{head.html :: headFragment}">

</head>
<body>
<div class="container">
    <div class="content">

        <table class='table'>
            <thead>
            <tr>
                <th scope='col'>#</th>
                <th scope='col'>아이디</th>
                <th scope='col'>이름</th>
                <th scope='col'>이메일</th>
                <th scope='col'>나이</th>
                <th scope='col'>주소</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="user, i : ${users}">
                <th scope='row' th:text="${i.count}">#</th>
                <td th:text="${user.loginId}">아이디</td>
                <td th:text="${user.name}">이름</td>
                <td th:text="${user.email}">이메일</td>
                <td th:text="${user.age}">나이</td>
                <td th:text="${user.address}">주소</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>


</body>
</html>